@charset "utf-8";


/* body{
    background-color: blueviolet;
} */
/* 共有 */
.a{
    background-color: antiquewhite;
    justify-content: center;
    height: 100vh;
    margin: -8px -8px 20px -8px;
}
.b{
    display: flex; /*フレックスを使う宣言？*/
    flex-direction: row;/*フレックスを横並びに？*/ 
}
.item{
    margin: 10px;
    background-color: #ffecb7;
}
.taitoru{
    margin-top: -10px;
    font-size: 70px;
    font-family:Century Schoolbook;
    color: #fff;
    -webkit-text-stroke: 2px rgb(80, 51, 1); /* 縁の太さと色 */
}
.img{
    border-radius: 50%;
    width: 65vh; 
    height: 65vh;
}
/* --------------------------Home------------------------------ */
#Home{
  align-items: center;
}
#Home h1{
    text-align: center;
}
.haikei{
    background-image: url(haikei.png);
    background-size: cover;
    background-position-y: -2vh; 
}
.home-taitoru{
    margin: 20px;
    margin-top: 150px;
    font-size: 34px;
    margin-top: 400px;
}
.taitoru h3{
    margin-top: -50px;
    text-align: center;
    -webkit-text-stroke: 1px rgb(80,51,1); 
}
#as{
    margin-right: 100px;
}
.homeimg{
  margin-left: -90px;
  margin-right: 5px;
}

/* -----------------------------About -------------------------------------------------*/
.About-taitoru{
       text-align: center; 

}
main h3 { 
    margin-left: 20px;
    margin-top: -0.5px;
 }


.ti img{
    width: 15vw; 
    height: 15vw;
}
.ii img{
    width: 8vw; 
    height: 8vw;
    margin-left: 40px;
    margin-top: -15px;
    justify-content: center;
    /* margin-right: -50px; */
}
.adobe img{
  margin-left: 90px;
}

.name {
  margin-left: 245px;
  margin-top: -45px;
  font-size: 22px;
}
.rubi{
  margin-left: 325px;
  margin-top: -100px;
  font-size: small;

}
 li{
  list-style-type: none;
  text-align: left;
}

.haba{
    width: 250px;
    height: 200px;
}

.waku{
    margin-top: -35px;
    /* background-color: aqua; */
    height: 83.3vh;
    width: auto;

}

.git{
    display: grid;
    justify-content: center;
    column-gap: 100px;
    row-gap: 3px;
    grid-template-rows: 180px 180px 180px;
	grid-template-columns: 150px 200px 500px;
}
.ti{
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}
.big{
    grid-column: 1/3;
    grid-row: 1/4;
     
 }  
 .big  img{
    margin-right: -40px;
 }
 
 
 .po{
  width: 200px;
  margin: 10px;
  list-style-type:none;
  border:#c1e7e7 solid 3px;
  margin-top: -5px;
}

.po p{
  font-size: 15px;
  text-align: left;
  margin-left: 6px;
  margin-right: 3px;
  margin-top: -2px;
}.po ul{
  margin-left: -30px;
  font-size: 14px;
  margin-top: -1px;
}
.lii{
  margin-top: -10px;
}

/* ===========================================works=============================================- */
#Works{
  margin-bottom: 0;
}

.slide-container {
  background-color: #ffecb7;
  max-width: 100%;
  height: 500px;
  margin: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
    
}
.slide-wrapper {
  display: flex;
  margin: 10px;
  margin-top: -5px;
  margin-bottom: -5px;
  animation: slide-flow 20s infinite linear 1s both;
    align-items: center;

}
.slide{ 
  margin: 20px;
  object-fit:cover;
  border: 1px solid #ddd;
  background-color: #c1e7e7;
}
@keyframes slide-flow {
     0% {transform: translateX(0);}
 100% {transform: translateX(-100%);}
}

/* .slide-paused:hover .slide-wrapper {
   animation-play-state: paused;
 } */
 .slide-paused:hover .slide-wrapper img:hover {
   opacity: .5;
   cursor: grabbing;
 }


 
 /* 
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__gazou {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  transition: all 1s;
}

.hamburger__gazou1 {
  position: fixed;  /*スクロール固定*/
  top: 15px;
  margin-right: 30px; 
}

.hamburger__gazou2 {
  position: fixed; 
  top: 15px;
  margin-right: 30px;
  opacity: 0;  /*透明度　見える１００～見えない０*/
}

 
/*ハンバーガーがクリックされたら*/
 .open .hamburger__gazou1 {
  opacity: 0;
}

.open .hamburger__gazou2 {
  opacity: 100;
} 

 /* .open .hamburger__line--3 {
  transform: rotate(45deg);
  top: 35px;
} */

/* 
sp-nav(ナビ)
=================================== */
.sp-nav {
  position: fixed;
  right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 30%; /* 出てくるスライドメニューの幅 */
  height: 100vh;
  background-color: #ffecb7;/* メニューが書いてる部分の背景色 */
  transition: all 0.5s;
  z-index: 200;
  
}
.li{
    margin-top: 95px;
    line-height: 95px;
    font-size: 40px;
    list-style-type:none;
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
  right: 0;
}


/* 
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000000;/* メニューを開いているときのカーテンみたいなやつ景 */
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
}
header{
    background-color: #c1e7e7;
}



/* --------------------------------------------トップページリンク--------------------------------- */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    color: #000000;
    text-align: center;
    /* line-height: 40px; */
    border-radius: 50%; /*〇にする  */
    font-size: 20px;
    text-decoration: none;
    display: none;
    transition: opacity 0.3s ease;
    margin-top: -70px;
  }
  .back-to-top p{
    margin-top: -10px;
    text-align: center;
    font-family:Century Schoolbook;
  }
  
  .back-to-top.show {
    display: block;
    opacity: 0.9;
  }

.back-to-top:hover {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }



  /* ============================================================レスポンシブ======================================================== */

  @media (max-width:800px){
    .img{
      /* margin-left: -60px; */
      border-radius: 50%;
      width: 12vh; 
      height: 12vh;
    }
    .b{
       flex-direction: column-reverse;/*フレックスを縦並びに？*/ 
    }
   .item{
      /* height: 500px;
      margin: -20px;
      margin-bottom: -200px; */
      background-color: yellow;
      justify-content: center;
      align-items: center;
      margin: 10px;


    }
    .home-taitoru{
      margin-left: 70px;
      width: 530px;
    }
    .homeimg{
       margin-top: -20px;
       width: 20vh; 
       height:20vh;
    }
    .home-taitoru{
      /* margin-left: 20px; */
      font-size: 25px;
    }
    .git{
    display: grid;
    justify-content: center;
    column-gap: 100px;
    row-gap: 3px;
    grid-template-rows: 180px 180px 180px;
	grid-template-columns: 150px 200px 500px;
}
.ti{
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}
.big{
    grid-column: 1/3;
    grid-row: 1/4;
}
    
    
} 